<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="legym.fuck">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 请求安装文件包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 修改或删除您共享存储空间中的内容 -->

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="legym.fuck.config.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuckLegym">
        <activity
            android:name="legym.fuck.ui.courseDetail.CourseDetailActivity"
            android:label="@string/course_detail" />

        <activity android:name="maputil.MapSelector" />
        <activity android:name="legym.fuck.ui.main.MainActivity" />
        <activity
            android:name="legym.fuck.ui.runhistory.RunningHistoryActivity"
            android:label="@string/running_history" />

        <service android:name="com.amap.api.location.APSService" />


        <activity
            android:name="legym.fuck.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="legym.fuck.ui.huodong.HuoDongActivity"
            android:label="@string/extracurricular_activities" />
        <activity
            android:name="legym.fuck.ui.run.RunningActivity"
            android:label="@string/upload_running" />
        <activity
            android:name="legym.fuck.ui.doc.DocActivity"
            android:label="@string/online_doc" />
        <activity
            android:name="legym.fuck.ui.course.CourseActivity"
            android:label="@string/course_title" />

        <activity
            android:theme="@style/Theme.FuckLegym.DarkTheme"
            android:name=".ui.about.AboutActivity"
            android:label="@string/about" />

        <!-- 这是高德地图的sdk，请开发者替换为自己申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c63afd429ab2a1018fd877fdaea14fa5" />

    </application>

</manifest>